<mat-card class="site-card">

  <!-- Toolbar -->
  <mat-card-header class="site-toolbar">
    <mat-card-title>Sites</mat-card-title>

    <span class="spacer"></span>

    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Search sites"
        (keyup)="applyFilter($event)">
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="addSite()">
      <mat-icon>add_location</mat-icon>
      Add Site
    </button>
  </mat-card-header>

  <!-- Table -->
  <mat-card-content>
    <div class="table-container mat-elevation-z2">

      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let s">{{ s.name }}</td>
        </ng-container>

        <!-- Location -->
        <ng-container matColumnDef="clientname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>clientname</th>
          <td mat-cell *matCellDef="let s">{{ getClientNamebyId(s.client_id) }}</td>
        </ng-container>

    

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let s">
            <!-- <button
              mat-icon-button
              color="primary"
              matTooltip="Edit"
              (click)="editSite(s)">
              <mat-icon>edit</mat-icon>
            </button> -->

            <button
              mat-icon-button
              color="warn"
              matTooltip="Delete"
              (click)="deleteSite(s)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>

      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5,10,25]"
        showFirstLastButtons>
      </mat-paginator>

    </div>
  </mat-card-content>
</mat-card>
