<!-- <app-header (toggleSidebar)="toggleSidebar()" />
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="sidebarOpen()"
    class="custom-sidenav"
  >
    <app-sidebar
      (navClick)="closeSidebar()"
      (sidebarToggle)="toggleSidebar()"
    />
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="main-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>

</mat-sidenav-container> -->


<div class="layout-container">
  <app-header (toggleSidebar)="toggleSidebar()" />

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
        class="custom-sidenav"
      [opened]="sidebarOpen()"
      [mode]="isMobile() ? 'over' : 'side'"
      (openedChange)="sidebarOpen.set($event)"
    >
      <app-sidebar
        [isOpen]="sidebarOpen()"
        (navClick)="closeSidebar()"
        (sidebarToggle)="toggleSidebar()"
      />
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="main-content">
        <router-outlet />
      </main>
      <!-- <app-footer /> -->
    </mat-sidenav-content>
  </mat-sidenav-container>

   <!-- ✅ FLOATING OPEN BUTTON -->
  <button
    mat-icon-button
    class="sidebar-open-btn"
    *ngIf="!sidebarOpen()"
    (click)="toggleSidebar()">
    <mat-icon>chevron_right</mat-icon>
  </button>

</div>
